.question-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.question-header {
    width: 100%;
    height: max-content;
    padding: 20px;
    border: 4px solid blueviolet;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
}

.question-choices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.question-choice {
    padding: 20px;
    border: 4px solid lightgray;
    border-radius: 10px;
    flex-basis: calc(50% - 10px);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.question-choice:disabled {
    cursor: not-allowed;
}

.question-choice__selected {
    border: 4px solid darkslategray;
    color: darkslategray;
    background-color: lightgray;
}

.question-choice__correct {
    border: 4px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
}

.question-choice__wrong {
    border: 4px solid red;
    background-color: lightcoral;
    color: darkred;
}

.question-hint {
    margin-top: 20px;
    border-radius: 10px;
    color: darkgray;
}

@media screen and (max-width: 600px) {
    .question-header {
        padding: 10px;
        border: 2px solid blueviolet;
        font-size: 18px;
    }

    .question-choices {
        gap: 15px;
        flex-direction: row;
    }

    .question-choice {
        padding: 10px;
        border: 2px solid lightgray;
        border-radius: 10px;
        flex-basis: 100%;
        font-size: 14px;
    }

    .question-hint {
        margin-top: 5px;
        font-size: 12px;
    }
}